torch==2.3.1
torchaudio==2.3.1
torchvision==0.18.1
numpy>=1.24.0,<2.0.0
transformers>=4.36.0
pyyaml>=6.0.1
gradio>=4.32
loguru>=0.7.2
onnxruntime-gpu>=1.16.0
accelerate
cmudict
cn2an
g2p_en
jieba
librosa==0.9.2
nltk<=3.8.1
num2words
onnx
onnxconverter-common
onnxsim-prebuilt
pyannote.audio>=3.1.0
pyloudnorm
pyopenjtalk-dict
pypinyin
pyworld-prebuilt
torch-pitch-shift
torchmetrics
umap-learn
